@use '../base' as *;

/* -------------------------------- 

File#: _1_confetti-button
Title: Confetti Button
Descr: A collection of spark button effects
Usage: codyhouse.co/license

-------------------------------- */

.confetti-btn {}

// button wrapper

.confetti-btn__btn {}

// trigger

.confetti-btn__icon {
    // icon
    display: none; // hide if browser doesn't support CSS variables

    @supports (--css: variables) {
        --size: 16px; // icon size
        display: block;
        width: var(--size);
        height: var(--size);
        position: absolute;
        top: calc(var(--conf-btn-click-y, 50%) - var(--size)/2);
        left: calc(var(--conf-btn-click-x, 50%) - var(--size)/2);
        pointer-events: none;
        overflow: visible;

        * {
            transform-origin: calc(var(--size)/2);
            opacity: 0; // hide SVG elements
        }
    }
}

.confetti-btn--animate {
    .confetti-btn__icon {
        --confetti-btn-animation-duration: 1s; // animation duration
    }

    .confetti-btn__icon .conf-btn-svg-item-0 {
        animation: confetti-btn-item-0-anim var(--confetti-btn-animation-duration) var(--ease-out);
    }

    .confetti-btn__icon .conf-btn-svg-item-1 {
        animation: confetti-btn-item-1-anim var(--confetti-btn-animation-duration) var(--ease-out);
    }

    .confetti-btn__icon .conf-btn-svg-item-2 {
        animation: confetti-btn-item-2-anim var(--confetti-btn-animation-duration) var(--ease-out);
    }

    .confetti-btn__icon .conf-btn-svg-item-3 {
        animation: confetti-btn-item-3-anim var(--confetti-btn-animation-duration) var(--ease-out);
    }

    .confetti-btn__icon .conf-btn-svg-item-4 {
        animation: confetti-btn-item-4-anim var(--confetti-btn-animation-duration) var(--ease-out);
    }

    .confetti-btn__icon .conf-btn-svg-item-5 {
        animation: confetti-btn-item-5-anim var(--confetti-btn-animation-duration) var(--ease-out);
    }
}

@keyframes confetti-btn-item-0-anim {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
        transform: scale(2);
    }
}

@keyframes confetti-btn-item-1-anim {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-50px) scale(0.8) rotate(-3deg);
    }
}

@keyframes confetti-btn-item-2-anim {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-44px) translateX(20px) scale(0.7) rotate(5deg);
    }
}

@keyframes confetti-btn-item-3-anim {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-36px) translateX(-20px) scale(0.6) rotate(-9deg);
    }
}

@keyframes confetti-btn-item-4-anim {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-20px) translateX(10px) scale(0.8) rotate(-12deg);
    }
}

@keyframes confetti-btn-item-5-anim {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-12px) translateX(-10px) scale(0.9) rotate(7deg);
    }
}